.list-group {
    li {
        cursor: pointer;
        h6 {
            margin: 0;
        }
        p {
            font-size: 12px;
            margin-bottom: 5px;
        }
    }
}

// @media(max-width:500px) {
//     .ruta {
//         display: none;
//     }
// }